<section class="wrapper">
  <h2 class="mb-2">My Heroes</h2>
  <ul>
    <li *ngFor="let hero of heroes">
      <a
        routerLink="/detail/{{ hero.id }}"
        class="flex w-full flex-row my-4 button button--slim"
      >
        <span
          class="block bg-slate-700 rounded-l-lg rounded-bl-lg text-white p-4 w-20"
          >{{ hero.id }}</span
        >
        <span class="block rounder-r-lg rounder-br-lg p-4 w-full">{{
          hero.name
        }}</span>
        <!-- Remove hero -->
        <button
          type="button"
          class="delete"
          title="delete hero"
          (click)="delete(hero)"
        >
          x
        </button>
      </a>
    </li>
  </ul>
  <!-- Add hero -->
  <div>
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button
      type="button"
      class="add-button"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add hero
    </button>
  </div>
</section>
