<section class="wrapper">
  <h2 class="mb-2">My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <button
        type="button"
        (click)="onSelect(hero)"
        [class.selected]="hero === selectedHero"
        class="mb-2 flex bg-slate-300"
      >
        <span
          class="badge bg-slate-700 rounder-l rounded-bl text-white p-2 w-10"
          >{{ hero.id }}</span
        >
        <span
          class="name rounder-r rounder-br p-2 block w-36 hover:bg-black hover:text-white"
          >{{ hero.name }}</span
        >
      </button>
    </li>
  </ul>
  <div *ngIf="selectedHero">
    <h2>{{ selectedHero.name | uppercase }} Details</h2>
    <div>id: {{ selectedHero.id }}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input
        id="hero-name"
        [(ngModel)]="selectedHero.name"
        placeholder="name"
      />
    </div>
  </div>
</section>
